<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>sample</title>
</head>

<link rel="stylesheet" type="text/css" href="/static/backend/css/sample.css">
<script src="/static/backend/js/sample.js"></script>

<body>
    <h1> mako template </h1>

    <h3> mako sample </h3>
    sample_key = ${sample_key}

    <h3> css sample </h3>
    <div class="sample"></div>

    <h3> img sample </h3>
    <img src="/static/backend/img/sample.png" alt="sample">

    <h3> js sample </h3>
    <button onclick="myFunction()">Try it</button>
</body>
</html>
