<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
  <h1>vuejs service (46)</h1>

  <div id="app">
    <hr/>

    <todo-item
      v-for="item in message"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>

    <hr/>

    <br/><br/><button v-on:click="reverseMessage">메시지 뒤집기</button>
    <br/><br/><button v-on:click="changeMessage">메시지 바꾸기</button>
    <br/><br/><button v-on:click="axiosData">Axios</button>
    <br/><br/>email<input id='email' type='text'/>
    <br/><br/>password<input id='password' type='password'/>
    <br/><br/><button v-on:click="submit">submit</button>
  </div>
  <hr/>

</body>

<script>

Vue.component('todo-item', {
  props: ['todo'],
  template: '<h5>{{ todo.email }} / {{ todo.regist_date }}</h5>'
})

var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    message: 'null',
  },
  created: function () {
    console.log('before -> ' + this.message)
    axios.post('/api_simpleUser')
    .then(res => {
      var persons = res.data;
      this.message = persons.result;
    })
    console.log('after -> ' + this.message)
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    },
    changeMessage: function () {
      this.message = 'hello world'
    },
    submit: function () {
      var email = $('#email').val();
      var password = $('#password').val();
      var dt = new Date();
      var month = dt.getMonth()+1;
      var day = dt.getDate();
      var year = dt.getFullYear();
      var full = (year + '-' + month + '-' + day);

      this.message.push(
        {
          id: this.message.length+1,
          email: email,
          regist_date:full
        }
      );

      data = {
        email: email,
        password: password
      }

      axios.post('/api_simpleAddUser', data)
      .then(res => {
        console.log('success');
      })

    },
    axiosData: function () {
      axios.post('/api_simpleUser')
      .then(res => {
        var persons = res.data;
        this.message = persons.result;
      })
    }
  }
})
</script>

</html>
